.vs
bin
Backup
x64
tclib/x64
tclib/Debug
touchcursor/x64
touchcursor/Debug
touchcursorconfig/x64
touchcursorconfig/Debug
touchcursor_update/x64
touchcursor_update/Debug
touchcursordll/x64
touchcursordll/Debug

*.user
*.aps
*.bak